USE [QLVT_DATHANG]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[ChiNhanh] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_3766236374B54C6E8324125EDA42F081]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[ChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MasoDDH] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_7CB2B7C50F9744BAB992B19E82CB8E9F]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_FB503FF7050643DEB773E316B3FDA6FA]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_127B6F426E4149FCA2F9E297EEAB2680]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DatHang]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang](
	[MasoDDH] [nchar](8) NOT NULL CONSTRAINT [DF_DatHang_MasoDDH]  DEFAULT (getdate()),
	[NGAY] [date] NOT NULL CONSTRAINT [DF_DatHang_NGAY]  DEFAULT (getdate()),
	[NhaCC] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_1E7B56D1AF2B4AFAA57179F54D613972]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DatHang] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kho]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MAKHO] [nchar](4) NOT NULL,
	[TENKHO] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_671BD3A01CCF4E76A6E13685B51C8F9B]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENKHO] UNIQUE NONCLUSTERED 
(
	[TENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[CMND] [nvarchar](20) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[LUONG] [float] NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [bit] NULL CONSTRAINT [DF_NhanVien_TrangThaiXoa]  DEFAULT ((0)),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_9920E13D6E7B42BC8FD49C838EDBD4D5]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_NhanVien] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MAPN] [nchar](8) NOT NULL CONSTRAINT [DF_PhieuNhap_MAPN]  DEFAULT (getdate()),
	[NGAY] [date] NOT NULL CONSTRAINT [DF_PhieuNhap_NGAY]  DEFAULT (getdate()),
	[MasoDDH] [nchar](8) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_56B358A728E04871A5967B5451BAB604]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_MaSoDDH] UNIQUE NONCLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MAPX] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL CONSTRAINT [DF_PX_NGAY]  DEFAULT (getdate()),
	[HOTENKH] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_ED8A9380D571417FA688C8D2504F5209]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vattu]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vattu](
	[MAVT] [nchar](4) NOT NULL,
	[TENVT] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](15) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D22F107E77F6422390889C22087DE0D3]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENVT] UNIQUE NONCLUSTERED 
(
	[TENVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT TENCN=PUB.description, TENSERVER= SUBS.subscriber_server
FROM dbo.sysmergepublications PUB,  dbo.sysmergesubscriptions SUBS
WHERE PUB.pubid= SUBS.pubid AND SUBS.subscriber_server <> @@SERVERNAME AND SUBS.subscriber_server <> 'ten-cua-site-phan-manh-3' /****** (do chỉ được hiển thị 2 site lên, site 3 là site tra cứu nên không cần hiển thị) ******/

GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DatHang]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_VatTu]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PhieuNhap] ([MAPN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_VatTu]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_PX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PhieuXuat] ([MAPX])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_PX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_VatTu]
GO
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_Kho]
GO
ALTER TABLE [dbo].[DatHang]  WITH NOCHECK ADD  CONSTRAINT [FK_DatHang_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_NhanVien]
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [FK_Kho_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_DatHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_Kho]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_Kho]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH NOCHECK ADD  CONSTRAINT [FK_PX_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PX_NhanVien]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIA] CHECK NOT FOR REPLICATION (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPN] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_DONGIACTPN]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPN] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_SOLUONGCTPN]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPX] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_DONGIACTPX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPX] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_SOLUONGCTPX]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [CK_LUONG] CHECK NOT FOR REPLICATION (([LUONG]>=(4000000)))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_LUONG]
GO
ALTER TABLE [dbo].[Vattu]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGTON] CHECK NOT FOR REPLICATION (([SOLUONGTON]>=(0)))
GO
ALTER TABLE [dbo].[Vattu] CHECK CONSTRAINT [CK_SOLUONGTON]
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatSoLuongVatTu]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CapNhatSoLuongVatTu]
	@CHEDO NVARCHAR(1),
	@MAVT NCHAR(4),
	@SOLUONG INT
AS
BEGIN
	-- Nếu xuất vật tư thông qua phiếu xuất
	IF( @CHEDO = 'X')
	BEGIN
		IF( EXISTS(SELECT * FROM DBO.Vattu AS VT WHERE VT.MAVT = @MAVT))
			BEGIN
				UPDATE DBO.Vattu
				SET SOLUONGTON = SOLUONGTON - @SOLUONG
				WHERE MAVT = @MAVT
			END
	END

	-- Nếu nhập vật tư vào thông qua phiếu nhập
	IF( @CHEDO = 'N')
	BEGIN
		IF( EXISTS(SELECT * FROM DBO.Vattu AS VT WHERE VT.MAVT = @MAVT) )
			BEGIN
				UPDATE DBO.Vattu
				SET SOLUONGTON = SOLUONGTON + @SOLUONG
				WHERE MAVT = @MAVT
			END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMA]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKMA]
@Code NVARCHAR(15), @Type NVARCHAR(15)
AS
BEGIN
	-- Nhân viên
	IF(@Type = 'MANV')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.NhanVien WHERE dbo.NhanVien.MANV = @Code)
			RETURN 1; -- Mã NV tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.NhanVien AS NV WHERE NV.MANV = @Code)
			RETURN 2; -- Mã NV tồn tại ở phân mảnh khác
	END

	-- Kho
	IF(@Type = 'MAKHO')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.Kho WHERE dbo.Kho.MAKHO = @Code)
			RETURN 1; -- Mã kho tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.Kho AS KHO WHERE KHO.MAKHO = @Code)
			RETURN 2; -- Mã Kho tồn tại ở phân mảnh khác
	END
	IF(@Type = 'TENKHO')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.Kho WHERE dbo.Kho.TENKHO = @Code)
			RETURN 1; -- Tên kho tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.Kho AS KHO WHERE KHO.TENKHO = @Code)
			RETURN 2; -- Tên Kho tồn tại ở phân mảnh khác
	END

	-- Đặt hàng
	IF(@Type = 'MasoDDH')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.DatHang WHERE dbo.DatHang.MasoDDH = @Code)
			RETURN 1; -- Mã DDH tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.DatHang AS DH WHERE DH.MasoDDH = @Code)
			RETURN 2; -- Mã DDH tồn tại ở phân mảnh khác
	END

	-- Phiếu Xuất
	IF(@Type = 'MAPX')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.PhieuXuat WHERE dbo.PhieuXuat.MAPX = @Code)
			RETURN 1; -- Mã PX tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.PhieuXuat AS PX WHERE PX.MAPX = @Code)
			RETURN 2; -- Mã PX tồn tại ở phân mảnh khác
	END

	-- Phiếu Nhập
	IF(@Type = 'MAPN')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.PhieuNhap WHERE dbo.PhieuNhap.MAPN = @Code)
			RETURN 1; -- Mã PN tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.PhieuNhap AS PN WHERE PN.MAPN = @Code)
			RETURN 2; -- Mã PN tồn tại ở phân mảnh khác
	END

	-- Phiếu Nhập mã số DDH, check xem đơn đặt hàng đã tồn tại phiếu nhập hay chưa
	IF(@Type = 'PN_DDH')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.PhieuNhap WHERE dbo.PhieuNhap.MasoDDH = @Code)
			RETURN 1; -- Mã PN tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.PhieuNhap AS PN WHERE PN.MasoDDH = @Code)
			RETURN 2; -- Mã PN tồn tại ở phân mảnh khác
	END

	-- Vật tư, chỉ cần check ở site hiện tại
	IF(@Type = 'MAVT')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.Vattu WHERE MAVT = @Code)
		RETURN 1;
	END

	RETURN 0 -- Không bị trùng
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChuyenChiNhanh]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ChuyenChiNhanh] 
	@MANV INT, 
	@MACN nchar(10)
AS
DECLARE @LGNAME VARCHAR(50)
DECLARE @USERNAME VARCHAR(50)
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN
	BEGIN DISTRIBUTED TRAN
		DECLARE @HONV NVARCHAR(40)
		DECLARE @TENNV NVARCHAR(10)
		DECLARE @CMNDNV NVARCHAR(20)
		DECLARE @DIACHINV NVARCHAR(100)
		DECLARE @NGAYSINHNV DATETIME
		DECLARE @LUONGNV FLOAT						
		-- Lưu lại thông tin nhân viên cần chuyển chi nhánh để làm điều kiện kiểm tra
		SELECT @HONV = HO, @TENNV = TEN ,@CMNDNV = CMND, @DIACHINV = DIACHI, @NGAYSINHNV = NGAYSINH, @LUONGNV = LUONG FROM NhanVien WHERE MANV = @MANV
		-- Kiểm tra xem bên Site chuyển tới đã có dữ liệu nhân viên đó chưa. Nếu có rồi thì đổi trạng thái, chưa thì thêm vào
		IF EXISTS(select MANV
				from LINK1.QLVT_DATHANG.dbo.NhanVien
				where HO = @HONV and TEN = @TENNV and NGAYSINH = @NGAYSINHNV)
		BEGIN
				UPDATE LINK1.QLVT_DATHANG.dbo.NhanVien
				SET TrangThaiXoa = 0, CMND = @CMNDNV
				WHERE MANV = (	select MANV
								from LINK1.QLVT_DATHANG.dbo.NhanVien
								where HO = @HONV and TEN = @TENNV and NGAYSINH = @NGAYSINHNV)
		END
		ELSE
		-- nếu chưa tồn tại thì thêm mới hoàn toàn vào chi nhánh mới với MANV sẽ là MANV lớn nhất hiện tại + 1
		BEGIN
			INSERT INTO LINK1.QLVT_DATHANG.dbo.NhanVien (MANV, HO, TEN, CMND, DIACHI, NGAYSINH, LUONG, MACN, TRANGTHAIXOA)
			VALUES ((SELECT MAX(MANV) FROM LINK0.QLVT_DATHANG.dbo.NhanVien) + 1, @HONV, @TENNV, @CMNDNV, @DIACHINV, @NGAYSINHNV, @LUONGNV, @MACN, 0)
		END
		-- Đổi trạng thái xóa đối với tài khoản cũ ở site hiện tại
		UPDATE dbo.NhanVien
		SET TrangThaiXoa = 1  
		WHERE MANV = @MANV
		UPDATE DBO.NhanVien
		set CMND = CONVERT(nvarchar(20), GETDATE(), 120)
		where MaNV = @MANV
	COMMIT TRAN;
		-- sp_droplogin và sp_dropuser không thể được thực thi trong một giao tác do người dùng định nghĩa
		-- Kiểm tra xem Nhân viên đã có login chưa. Có thì xóa
		IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS NVARCHAR))
		BEGIN
			SET @LGNAME = CAST((SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS NVARCHAR)) AS VARCHAR(50))
			SET @USERNAME = CAST(@MANV AS VARCHAR(50))
			EXEC SP_DROPUSER @USERNAME;
			EXEC SP_DROPLOGIN @LGNAME;
		END	
END

-- Với giao tác phân tán không cần rollback tại sp -> Rollback sẽ được windows chạy tự động: Vấn đề này cần nghiêm cứu thêm tại thầy hỏi mà chưa hiểu rõ

GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM NHANVIEN  WHERE MANV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))

GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinNVTuLogin]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayThongTinNVTuLogin]
@TENLOGIN NVARCHAR( 100)
AS
DECLARE @UID INT
DECLARE @MANV NVARCHAR(100)
SELECT @UID= uid , @MANV= NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MAGV= @MANV, 
       HOTEN = (SELECT HO+ ' '+TEN FROM dbo.NHANVIEN WHERE MANV=@MANV ), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)
GO
/****** Object:  StoredProcedure [dbo].[SP_RP_CHITIETPHIEU]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RP_CHITIETPHIEU] 
@ROLE NVARCHAR(8) , @LOAI CHAR , @NGAYBD DATE, @NGAYKT DATE
AS
BEGIN 
	IF (@ROLE = 'CONGTY')
	BEGIN
	IF (@LOAI = 'N')
		BEGIN 
		SELECT NGAY, TENVT, SOLUONG, TRIGIA = SOLUONG * DONGIA
		FROM 
			(
				(SELECT MAPN, NGAY 
				FROM PHIEUNHAP
				WHERE NGAY BETWEEN  @NGAYBD AND @NGAYKT )
				UNION
				(SELECT MAPN, NGAY 
				FROM LINK1.QLVT_DATHANG.DBO.PHIEUNHAP
				WHERE NGAY BETWEEN  @NGAYBD AND @NGAYKT )
			) PHIEU,
			(
				SELECT MAVT, TENVT FROM VATTU
			) VT,
			(
				SELECT MAPN, MAVT, SOLUONG, DONGIA FROM CTPN
				UNION
				SELECT MAPN, MAVT, SOLUONG, DONGIA FROM LINK1.QLVT_DATHANG.DBO.CTPN
			) CT
		WHERE PHIEU.MAPN = CT.MAPN AND VT.MAVT = CT.MAVT
		END
	ELSE 
		BEGIN
				SELECT NGAY, TENVT, SOLUONG, TRIGIA = SOLUONG * DONGIA
		FROM 
			(
				(SELECT MAPX, NGAY 
				FROM PHIEUXUAT
				WHERE NGAY BETWEEN  @NGAYBD AND @NGAYKT )
				UNION
				(SELECT MAPX, NGAY 
				FROM LINK1.QLVT_DATHANG.DBO.PHIEUXUAT
				WHERE NGAY BETWEEN  @NGAYBD AND @NGAYKT )
			) PHIEU,
			(
				SELECT MAVT, TENVT FROM VATTU
			) VT,
			(
				SELECT MAPX, MAVT, SOLUONG, DONGIA FROM CTPX
				UNION
				SELECT MAPX, MAVT, SOLUONG, DONGIA FROM LINK1.QLVT_DATHANG.DBO.CTPX
			) CT
		WHERE PHIEU.MAPX = CT.MAPX AND VT.MAVT = CT.MAVT
		END
	END
	ELSE
	BEGIN
	IF (@LOAI = 'N')
		BEGIN 
		SELECT NGAY, TENVT, SOLUONG, TRIGIA = SOLUONG * DONGIA
		FROM 
			(
				(SELECT MAPN, NGAY 
				FROM PHIEUNHAP
				WHERE NGAY BETWEEN  @NGAYBD AND @NGAYKT )
			) PHIEU,
			(
				SELECT MAVT, TENVT FROM VATTU
			) VT,
			(
				SELECT MAPN, MAVT, SOLUONG, DONGIA FROM CTPN
			) CT
		WHERE PHIEU.MAPN = CT.MAPN AND VT.MAVT = CT.MAVT
		END
	ELSE 
		BEGIN
		SELECT NGAY, TENVT, SOLUONG, TRIGIA = SOLUONG * DONGIA
		FROM 
			(
				(SELECT MAPX, NGAY 
				FROM PHIEUXUAT
				WHERE NGAY BETWEEN  @NGAYBD AND @NGAYKT )
			) PHIEU,
			(
				SELECT MAVT, TENVT FROM VATTU
			) VT,
			(
				SELECT MAPX, MAVT, SOLUONG, DONGIA FROM CTPX
			) CT
		WHERE PHIEU.MAPX = CT.MAPX AND VT.MAVT = CT.MAVT
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RP_DSDDHKHONGPHIEUNHAP]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RP_DSDDHKHONGPHIEUNHAP]
AS
BEGIN
SELECT DH.MasoDDH, 
	DH.Ngay, 
	DH.NhaCC, 
	HOTEN,
	TENVT,
	SOLUONG,
	DONGIA
FROM 
	(SELECT MasoDDH, NGAY, NhaCC, HOTEN = (SELECT HOTEN = HO + ' ' + TEN 
										FROM NhanVien 
										WHERE DatHang.MANV = NhanVien.MANV) 
	FROM DBO.DatHang) DH,
	(SELECT MasoDDH,MAVT,SOLUONG,DONGIA FROM CTDDH ) CT,
	(SELECT TENVT, MAVT FROM Vattu ) VT
WHERE CT.MasoDDH = DH.MasoDDH
AND VT.MAVT = CT.MAVT
AND DH.MasoDDH NOT IN (SELECT MasoDDH FROM PhieuNhap)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RP_DSNHANVIEN]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC  [dbo].[SP_RP_DSNHANVIEN] @MACN nchar(10) AS

SELECT MANV, CONCAT(HO,' ',TEN) AS HOTEN, CMND, DIACHI, NGAYSINH, LUONG, MACN FROM dbo.NhanVien 
	WHERE TrangThaiXoa = 0 AND MACN = @MACN
	ORDER BY TEN, HO ASC

GO
/****** Object:  StoredProcedure [dbo].[SP_RP_DSVATTU]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RP_DSVATTU]
AS
	SELECT MAVT, TENVT, DVT, SOLUONGTON FROM dbo.Vattu ORDER BY TENVT

GO
/****** Object:  StoredProcedure [dbo].[SP_RP_HOATDONGCUANHANVIEN]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RP_HOATDONGCUANHANVIEN] 
@MANV INT , @NGAYBD DATE, @NGAYKT DATE
AS
BEGIN 
	(SELECT FORMAT(PHIEU.NGAY,'MM-yyyy') AS THANGNAM,
			PHIEU.NGAY,
			PHIEU.MAPN AS MAPHIEU,
			PHIEU.LOAIPHIEU,
			TENVT, 
			SOLUONG, 
			DONGIA,
			TRIGIA = SOLUONG * DONGIA
		FROM 
			(
				SELECT MAPN, NGAY, MANV, LOAIPHIEU = 'N'
				FROM PHIEUNHAP
				WHERE NGAY BETWEEN  @NGAYBD AND @NGAYKT AND MANV = @MANV
			) PHIEU,
			(
				SELECT MAVT, TENVT FROM VATTU
			) VT,
			(
				SELECT MAPN, MAVT, SOLUONG, DONGIA FROM CTPN
			) CT
		WHERE PHIEU.MAPN = CT.MAPN AND VT.MAVT = CT.MAVT
		)
		UNION ALL
		(
		SELECT FORMAT(PHIEU.NGAY,'MM-yyyy') AS THANGNAM,
			PHIEU.NGAY,
			PHIEU.MAPX AS MA,
			PHIEU.LOAIPHIEU,
			TENVT, 
			SOLUONG, 
			DONGIA,
			TRIGIA = SOLUONG * DONGIA
		FROM 
			(
				SELECT MAPX, NGAY, MANV , LOAIPHIEU = 'X'
				FROM PHIEUXUAT
				WHERE NGAY BETWEEN @NGAYBD AND @NGAYKT AND MANV = @MANV
			) PHIEU,
			(
				SELECT MAVT, TENVT FROM VATTU
			) VT,
			(
				SELECT MAPX, MAVT, SOLUONG, DONGIA FROM CTPX
			) CT
		WHERE PHIEU.MAPX = CT.MAPX AND VT.MAVT = CT.MAVT
		)
		ORDER BY NGAY, TENVT
 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RP_TongHopNhapXuat]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RP_TongHopNhapXuat]
@NgayBD DATETIME,
@NgayKT DATETIME
AS
BEGIN
	IF(1=0)
	BEGIN
		SET FMTONLY OFF
	END
	--------------------phieu nhap--------------------------
	SELECT PN.NGAY,
			NHAP = SUM (CT.DONGIA * CT.SOLUONG),
			TYLENHAP = (SUM (CT.DONGIA * CT.SOLUONG)/ (SELECT SUM(DONGIA * SOLUONG)
						FROM CTPN , PhieuNhap WHERE CTPN.MAPN = PhieuNhap.MAPN
						AND PhieuNhap.NGAY BETWEEN @NgayBD AND @NgayKT )) INTO #PHIEUNHAPTABLE
	FROM PhieuNhap AS PN,
		CTPN AS CT
	WHERE PN.MAPN = CT.MAPN
	AND PN.NGAY BETWEEN @NgayBD AND @NgayKT
	GROUP BY PN.NGAY
	
	--------------------phieu xuat--------------------------
	SELECT PX.NGAY,
			XUAT = SUM (CT.DONGIA * CT.SOLUONG),
			TYLEXUAT = (SUM (CT.DONGIA * CT.SOLUONG)/ (SELECT SUM(DONGIA * SOLUONG)
						FROM CTPX , PhieuXuat WHERE CTPX.MAPX = PhieuXuat.MAPX
						AND PhieuXuat.NGAY BETWEEN @NgayBD AND @NgayKT )) INTO #PHIEUXUATTABLE
	FROM PhieuXuat AS PX,
		CTPX AS CT
	WHERE PX.MAPX = CT.MAPX
	AND PX.NGAY BETWEEN @NgayBD AND @NgayKT
	GROUP BY PX.NGAY
	-----------------------TONG HOP--------------------------------------
	SELECT 
		ISNULL(PN.NGAY,PX.NGAY) AS NGAY,
		ISNULL(PN.NHAP, 0) AS NHAP,
		ISNULL(PN.TYLENHAP,0) TILENHAP,
		ISNULL(PX.XUAT,0) XUAT,
		ISNULL(PX.TYLEXUAT,0) AS TILEXUAT
	FROM #PHIEUNHAPTABLE AS PN 
	FULL JOIN #PHIEUXUATTABLE AS PX
	ON PN.NGAY = PX.NGAY
	ORDER BY NGAY
END

GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTINNHANVIEN]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGTINNHANVIEN]
@MANV INT
AS
BEGIN
	SELECT MANV, HO + ' ' + TEN AS HOTEN, NGAYSINH, DIACHI, LUONG, MACN
	FROM dbo.NhanVien 
	WHERE MANV = @MANV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_XOANV]    Script Date: 6/24/2023 8:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOANV]
@id int 
AS
begin
DECLARE @USERNAME VARCHAR(10)
	DECLARE @LOGINNAME VARCHAR(30)
	DECLARE @RET INT

IF EXISTS ( SELECT * FROM dbo.DATHANG, PHIEUNHAP, PHIEUXUAT WHERE DATHANG.MANV =@id or PHIEUNHAP.MANV = @id or PHIEUXUAT.MANV = @ID)
	begin
		UPDATE NHANVIEN
		SET TrangThaiXoa = 1
		WHERE NHANVIEN.MANV=@id
	end
else
	begin
		DELETE FROM NHANVIEN WHERE NHANVIEN.MANV=@id
	end
--delete acc login---
IF EXISTS(
	SELECT users.name, logins.name 
	FROM sys.database_principals AS users
	INNER JOIN sys.server_principals AS logins
	ON logins.sid = users.sid
	WHERE users.name = CONVERT(NVARCHAR(10), @id))
	BEGIN
		SELECT @USERNAME = users.name, @LOGINNAME = logins.name 
		FROM sys.database_principals AS users
		INNER JOIN sys.server_principals AS logins
		ON logins.sid = users.sid
		WHERE users.name = CONVERT(NVARCHAR(10), @id)
		IF(@@ROWCOUNT <> 0)
		
				EXEC @RET = SP_DROPLOGIN @LOGINNAME	
				IF(@RET = 1) RETURN 1

				EXEC @RET = SP_DROPUSER  @USERNAME
				IF(@RET = 1) RETURN 2
			
			RETURN 0 --Thành công
	END
end
GO
